<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Comptes.Properties.Settings.comptesConnectionString"
            connectionString="server=localhost;user id=admincomptes;password=comptesQL;database=comptes"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		<System.Windows.Forms.ApplicationConfigurationSection>
			<add key="DpiAwareness" value="PerMonitorV2" />
		</System.Windows.Forms.ApplicationConfigurationSection>
    </startup>
</configuration>

